.comment-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #1F2B41;
    width: 300px;
    border-color: #2F394C;
    border-width: 5px;
    border-style: solid;
    box-shadow: 0 3px 30px 3px #a7004823;
    text-align: center;
}
.comment-card-line{
    background-color: #A70048;
    height: 4px;
}
.card-text
{
    color: #FFFFFF;
    max-width: 540px;
}
.card-text-names{
    display: flex;
    justify-content: center;
    gap: 4px;
}

.errand-details-comments{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.errand-details-comment-box{
    display: flex;
    justify-content: center;
}